# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/

# Node / frontend
node_modules/
.dist/
build/

# OS
.DS_Store
Thumbs.db

# Map tiles (VERY IMPORTANT)
tiles/
*.mbtiles

# Logs
*.log

# Env
.env
# NEVER upload these
venv/
tiles/
*.mbtiles
streamlit_app/

# Python junk
__pycache__/
*.pyc

# OS junk
.DS_Store
.env
